/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  transition: all 0.3s;
} */

body {
  height: 100vh;
  /* font-family: "Poppins" !important; */
  font-family: "Nunito", sans-serif !important;
  font-size: 12px;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

/* styles.css or your CSS file */
.my-swal-button {
  background-color: #3b82f6 !important; /* Change to your desired color */
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  /* font-size: 16px; */
  transition: background-color 0.3s;
}

.my-swal-button:hover {
  background-color: #e64d29; /* Slightly darker shade for hover */
}

.sidebar-icon {
  @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto  text-gray-400 hover:bg-gray-700 hover:text-white rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
}

.sidebar-tooltip {
  @apply absolute w-auto p-2 m-2 min-w-max left-14 bottom-0 text-sm font-bold bg-black text-white rounded-md scale-0;
  transition: transform 0.3s ease-in-out;
  group-hover: scale-100;
}
@keyframes slideIn {
  from {
    right: -24rem; /* Off-screen initially */
  }
  to {
    right: 0; /* Slide in to the right */
  }
}

@keyframes slideOut {
  from {
    right: 0; /* Initial position on-screen */
  }
  to {
    right: -24rem; /* Slide out to the right */
  }
}

/* for debugging purposes */
/* * {
  outline: 2px solid #6632a8 !important;
}

*:hover {
  outline: 2px solid green !important;
} */


body::-webkit-scrollbar {
  width: 3px; /* adjust as needed */
}

body::-webkit-scrollbar-thumb {
  background-color: #696969; /* scrollbar handle color */
}

body::-webkit-scrollbar-track {
  background-color: #ffffff; /* scrollbar track color */
}
/* styles.css or yourTailwindStyles.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px; /* adjust as needed */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #696969; /* scrollbar handle color */
}

